body {
background-color:rgb(9, 105, 76);
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu {
    list-style: none
    backgroud-color: pink

}
.fotos {
text-align: center;   
margin: 10px;
justify-content: space-between;
padding: 10px;
}
.menu li  {
    display: inline-block;
    text-align: center;
    
    }

    .menu li a {
        display: block;
        padding: 20px;
        color: white;
        text-decoration: none;
    }
    .menu li a:hover {
background: palevioletred;
    }


header{
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 10;
    align-items: center;
    background-color: rgb(44, 209, 146);
}

.videoyou {
    text-align: center;
    text-decoration: double;
    
}


h1, h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.poema{
    text-align: center;
    font-family: cursive;

}

.nosotros p {
    text-align: justify;
    margin: 90px;
    border-image-width: 200;
    font-family: 'Poor Story', cursive;
}
.formulario {
    border-style: double;
    display: inline-block;
    margin: 15px;
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 255, 106, 0.795);
       
}
.fotonuestra {
    text-align: center;

}
.LIBRO {
    height: 50%;
    text-decoration: NONE;
    color: white;
    text-align: center;
        }
  
 .libro a {
    text-decoration: none;
    background-color: aliceblue;
 }

 .viajar {
    font-family: cursive;
    border-bottom: 5px solid;
    border-top: 5px solid;
    border-left: 5px solid;
    border-style: groove;
    display: inline;
    padding: 10px;
    text-decoration: none;
    
 }
   .inst{
    text-align: center;
    text-decoration: none;
    color: white;
    border-bottom: 5px solid;
    border-top: 5px solid;
    border-left: 5px solid;
    border-style: groove;
    display:inline-block;
    padding: 10px;
       }
       