.btn ¨
{
   background-color: aqua;
   display: block; 
   margin-top: 70px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 700;
  border-radius: 10px;
  padding: 15px 30px;
  margin: 150px 130px;
  color: antiquewhite;
  text-decoration: none;
  }

  .btn:hover{
    background-color:gold ;
}
