body {
background-color: aquamarine;

}

.mapa ¨{
    text-align: center;
    text-decoration: double;
    

}


h1, h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fotos {
   
    margin: auto;

}
.poema{
    text-align: center;
    font-style: italic;
}

